/* assets/components/ProductList.css */

.product-list {
    margin: 2em auto;
    max-width: 1200px;
    width: 95%;
}

.product-list-title {
    text-align: center;
    margin-bottom: 1em;
}

.product-list-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.filter-container {
    margin-bottom: 20px;
}

#category-select {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}