@import 'slider-common.css';


.secondary-slider-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.secondary-slider {
    position: relative;
    width: 100%;
}



/* Responsive adjustments */
@media (max-width: 1024px) {
    .secondary-slider-container .slick-prev,
    .secondary-slider-container .slick-next {
        width: 35px;
        height: 35px;
    }

    .secondary-slider-container .slick-prev {
        left: -35px;
    }

    .secondary-slider-container .slick-next {
        right: -35px;
    }
}

@media (max-width: 768px) {
    /* .slider-item {
        margin: 0 8px;
    } */

    .secondary-slider-container .slick-prev,
    .secondary-slider-container .slick-next {
        width: 30px;
        height: 30px;
    }

    .secondary-slider-container .slick-prev {
        left: -30px;
    }

    .secondary-slider-container .slick-next {
        right: -30px;
    }
}
