{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div id="login-root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const loginRoot = document.getElementById('login-root');
        if (loginRoot) {
            ReactDOM.createRoot(loginRoot).render(<LoginForm />);
        }
    </script>
{% endblock %}
