{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div id="register-root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const registerRoot = document.getElementById('register-root');
        if (registerRoot) {
            ReactDOM.createRoot(registerRoot).render(<RegisterForm />);
        }
    </script>
{% endblock %}
